body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/background.jpg);
  background-size: cover;
  font-weight: 800;
}

label {
  display: block;
}

input {
  background-color: red;
}

.border {
  padding: 30px;
}

.form-container {
  background-color: #c0aa94;
}

.btn-primary {
  background-color: #b90113;
  font-size: 14px;
  font-weight: 800;
  border: none;
}

.btn-primary:hover {
  background-color: #890311;
}

.btn-secondary {
  background-color: #d9d9d9;
  color: black;
  font-size: 14px;
  font-weight: 800;
  border: none;
}

.btn-secondary:hover {
  background-color: #c5c4c4;
}

.custom-required-text {
  font-size: 12px;
}

.form-container {
  position: relative;
  z-index: 2; /* Set a higher z-index for the form container */
}

.snowflake {
  position: fixed;
  width: 30px; /* Adjust the width of the snowflake image */
  height: 30px; /* Adjust the height of the snowflake image */
  user-select: none;
  z-index: 1; /* Set a lower z-index to place snow behind the form */
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

@media (max-width: 768px) {
  body {
    background-image: url(/bg-mobile.jpg);
  }
}
