body {
  background-color: #e4e8f6;
  font-family: "Open Sans", sans-serif;
  color: #282828;
}

main {
  width: 100%;
  height: 100vh;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 700;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 700;
}

.custom-img-mobile {
  display: none;
  width: 100%;
}

.custom-card {
  margin: 10rem 10rem;
  flex-direction: row;
  max-width: 60%;
  max-height: 85%;
  height: 100%;
  box-shadow: 8px 8px 4px 4px rgba(81, 97, 157, 0.24);
  border: 2px solid rgba(81, 97, 157, 0.24);
}

.custom-img-container {
  width: 100%;
}

.custom-img {
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}

.card-body {
  width: 100%;
  padding: 0;
}

.form-container {
  height: 100%;
}

.custom-inputs-container {
  overflow-y: auto;
  max-height: 65vh;
}

.form-control {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.form-control:focus {
  box-shadow: none;
  border-color: #51619d;
  border-width: 2px;
}

.custom-button-container {
  flex-wrap: wrap;
}

.btn-primary {
  background-color: #6878ac;
  font-size: 16px;
  font-weight: 700;
  border: none;
  height: 38px;
  display: block;
  width: 100%;
}

.btn-primary:hover {
  background-color: #30448b;
}

.btn-primary:active {
  background-color: #6878ac !important;
}

.btn-primary:focus {
  background-color: #6878ac !important;
  box-shadow: 0 0 10px 2px #30448b;
}

.btn-secondary {
  background-color: transparent;
  color: #6878ac;
  font-size: 16px;
  font-weight: 700;
  border: none;
  display: block;
  width: 100%;
}

.btn-secondary:hover {
  background-color: transparent;
  color: #30448b;
  text-decoration: underline;
}

.btn-secondary:active {
  background-color: transparent !important;
  color: #30448b !important;
  text-decoration: underline !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 10px 2px #6c757d;
  background-color: transparent;
  color: #30448b;
  text-decoration: underline;
}

.custom-required-text {
  font-size: 12px;
  font-weight: 700;
}

.error-message {
  color: #f98012;
  font-size: 12px;
  font-weight: 700;
}

.is-invalid {
  border-color: #f98012 !important;
  border-width: 2px;
  background-image: url(/form2/exclamation-orange.svg) !important;
}

@media (max-width: 1199.98px) {
  .custom-img-container {
    display: none;
  }

  .custom-card {
    max-width: 40%;
    max-height: 90%;
  }

  .custom-img-mobile {
    display: block;
  }
}

@media (max-width: 575.98px) {
  main {
    height: 100vh;
    width: 100vw;
  }

  .custom-card {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 0 !important;
    border: none;
    width: 100%;
    overflow: hidden;
  }

  .card-body {
    border-radius: 0 !important;
  }

  .custom-img-mobile {
    border-radius: 0 !important;
  }
}
