body {
  background-color: #e4e8f6;
  font-family: "Open Sans", sans-serif;
  color: #282828;
}

.custom-card {
  max-width: 55%;
  max-height: 90%;
  box-shadow: 8px 8px 4px 4px rgba(81, 97, 157, 0.24);
  border: 2px solid rgba(81, 97, 157, 0.24);
}

.form-control {
  font-family: "Open Sans", sans-serif;
}

.form-control:focus {
  box-shadow: none;
  border-color: #51619d;
  border-width: 2px;
}

.btn-primary {
  background-color: #6878ac;
  height: 38px;
}

.btn-primary:hover {
  background-color: #30448b;
}

.btn-primary:active {
  background-color: #6878ac !important;
}

.btn-primary:focus {
  background-color: #6878ac !important;
  box-shadow: 0 0 10px 2px #30448b;
}

.btn-secondary {
  background-color: transparent;
  color: #6878ac;
}

.btn-secondary:hover {
  background-color: transparent;
  color: #30448b;
  text-decoration: underline;
}

.btn-secondary:active {
  background-color: transparent !important;
  color: #30448b !important;
  text-decoration: underline !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 10px 2px #6c757d;
  background-color: transparent;
  color: #30448b;
  text-decoration: underline;
}

.custom-required-text {
  font-size: 12px;
}

.error-message {
  color: #f98012;
  font-size: 12px;
  font-weight: 700;
}

.is-invalid {
  border-color: #f98012 !important;
  border-width: 2px;
  background-image: url(/form2/exclamation-orange.svg) !important;
}

@media (max-width: 575.98px) {
  .custom-card {
    max-width: 100%;
    max-height: 100%;
    box-shadow: none;
    border-radius: 0 !important;
    border: none;
  }

  .custom-img-mobile {
    border-radius: 0 !important;
  }
}
